* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Helvetica Neue Light', 'Helvetica Neue', Verdana, sans-serif;
  font-weight: 300;
  color: #8e8a83;
}

h2 {
  text-transform: uppercase;
  margin-bottom: .5em;
}

h2:after {
  content: ':';
  margin-left: 5px;
}

p {
  margin-bottom: 1em;
}

a, a:visited {
  color: #8e8a83;
  text-decoration: none;
}

blockquote {
  margin: 10px 0;
  text-transform: uppercase;
}

blockquote:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 10px 10px 10px 5px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 100%;
  background-color: #7c776c;
}

hr {
  display: block;
  height: 1px;
  background-color: #bdbebd;
  border-width: 0;
}


/* =Layout
--------------------------------------------------------------------------------------- */

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}


/* =Helper classes
--------------------------------------------------------------------------------------- */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.distinct {
  background-color: #f4f4f3;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-right {
  text-align: right;
}

.text-light {
  color: #fff;
}

.framed {
  border-top: 1px solid #bdbebd;
  border-bottom: 1px solid #bdbebd;
}

.block-link {
  display: block;
  font-size: 2em;
  padding: 10px 0;
  border-bottom: 1px solid #bdbebd;  
}

.block-link:before {
  content: '+';
  display: inline-block;
  margin-right: 10px;
}


/* =Form fields
--------------------------------------------------------------------------------------- */

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-field label {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
}

.form-field label:after {
  content: ':';
  margin-left: 3px;
}

.form-field input, .form-field textarea {
  display: block;
  width: 100%;
  padding: 30px 10px 10px 10px;
  border: none;
  background-color: #f4f3f2;
  font: 16px 'Helvetica Neue Light', 'Helvetica Neue', Verdana, sans-serif;
}

.form-field textarea {
  min-height: 150px;
}


/* =Buttons
--------------------------------------------------------------------------------------- */

.btn-large {
  font-size: 24px;
}

.btn-circle {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-width: 0;
  cursor: pointer;
  outline: 0;
  transition: background-color .15s ease-in;
}

.btn-circle.btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.btn-icon {
  position: relative;
  text-indent: -9999px;
}

.btn-light, .btn-light:visited {
  background-color: rgba(255,255,255,.8);
  color: rgb(0,0,0);
}

.btn-dark, .btn-dark:visited {
  background-color: rgba(47,30,8,.8);
  color: rgb(255,255,255);
}

.btn-light:hover {
  background-color: rgb(255,255,255);
}

.btn-dark:hover {
  background-color: rgb(47,30,8);
}

/* Icons */

.icon-menu span, .icon-menu:before, .icon-menu:after {
  display: block;
  width: 50%;
  height: 4px;
  margin: 0 auto 5px;
}

.icon-menu:before {
  margin-top: 18px;
}

.icon-menu:before, .icon-menu:after {
  content: '';
}

.icon-prev:before, .icon-next:before {
  content: '';
  position: absolute;
  top: 8px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.icon-prev:before {
  margin-left: 7px;
  border-width: 7px 12px 7px 0;
}

.icon-next:before {
  margin-left: 10px;
  border-width: 7px 0 7px 12px;
}

.icon-circle:before {
  content: '';
  display: block;
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 100%;
}

.icon-close:after {
  content: '\d7';
  display: block;
  position: relative;
  top: -2px;
  line-height: 30px;
  text-indent: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.btn-large.icon-close:after {
  position: relative;
  top: -4px;
  font-size: 52px;
}


/* Coloring */

.btn-light.btn-icon span, .btn-light.btn-icon:before, .btn-light.btn-icon:after {
  background-color: rgba(0,0,0,.8);
}

.btn-dark.btn-icon span, .btn-dark.btn-icon:before, .btn-dark.btn-icon:after {
  background-color: rgba(255,255,255,.8);
}

.btn-light.icon-prev:before {
  background-color: transparent;
  border-color: transparent rgba(0,0,0,.8) transparent transparent;
}

.btn-dark.icon-prev:before {
  background-color: transparent;
  border-color: transparent rgba(255,255,255,.8) transparent transparent;
}

.btn-light.icon-next:before {
  background-color: transparent;
  border-color: transparent transparent transparent rgba(0,0,0,.8);
}

.btn-dark.icon-next:before {
  background-color: transparent;
  border-color: transparent transparent transparent rgba(255,255,255,.8);
}

.btn-light.icon-close:after {
  background-color: transparent;
}

.btn-dark.icon-close:after {
  background-color: transparent;
}


/* =Dialogs
--------------------------------------------------------------------------------------- */
.dialog-toggler {
  z-index: 5;
}

.dialog {
  position: absolute;
  z-index: 4;
  opacity: 0;
  transition: opacity .15s ease-in;
}

.dialog-dark {
  color: #fff;
  background-color: rgba(47,30,8,.8);
}


/* =Slides
--------------------------------------------------------------------------------------- */

.slides {
  position: relative;
}

.slides .slides-container {
  display: none;
}

.slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation a, .mfp-arrow {
  position: absolute;
  right: 35px;
  z-index: 1050;
}

.slides-navigation .next, .mfp-arrow-right {
  top: 140px;
}

.slides-navigation .prev, .mfp-arrow-left {
  top: 195px;
}

.slide-tooltip-toggler {
  position: fixed;
  top: 250px;
  right: 35px;
  z-index: 1053;
}

.slide-tooltip {
  position: fixed;
  top: 240px;
  right: 25px;
  width: 300px;
  padding: 30px 50px 30px 30px;
  z-index: 1052;
}

.slide-tooltip h3 {
  text-transform: uppercase;
}

.slide-tooltip h3:after {
  content: ':';
  margin-left: 3px;
}

.slide-tooltip h4 {
  margin: 10px 0;
}


/* =Figures
--------------------------------------------------------------------------------------- */

figure {
  position: relative;
}

.figure-circle img {
  border-radius: 100%;
}

figure img {
  display: block;
  max-width: 100%;
}

.caption-bottom figcaption {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.caption-middle figcaption {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


/* =Accordion
--------------------------------------------------------------------------------------- */
.accordion dt {
}

.accordion dt a {
  transition: color .15s ease-in;
}

.accordion dt a:hover, .accordion dt a:focus,
.accordion dt.active a, .accordion dt.active a:visited {
  color: #000;
}

.accordion dt a:before {
  transition: transform .15s ease-in;
}

.accordion dt a:hover:before, .accordion dt a:focus:before {
  color: #000;
}

.accordion dt.active a:before {
  color: #000;
  transform: rotate(45deg);
}

.accordion dd {
  padding: 20px;
}

/* =Simple grid
--------------------------------------------------------------------------------------- */
[class*='grid-'] {
  padding-bottom: 20px;
}


/* =Header
--------------------------------------------------------------------------------------- */

header {
  position: relative;
  margin: 20px 0;
  z-index: 6;
}


header h1 {
  width: 120px;
  height: 66px;
  background: url(../img/logo-brown.svg) no-repeat 0 0;
  background-size: contain;
  text-indent: -9999px;
  opacity: .8;
}

header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}


/* =Main navigation
--------------------------------------------------------------------------------------- */

.site-navigation {
  position: absolute;
  right: 0;
  top: 0;
}

.site-navigation .dialog-toggler {
  position: relative;
}

.site-navigation .dialog {
  top: -10px;
  right: -10px;
  width: 300px;
  padding: 25px 25px 15px;
}

.site-navigation h5 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation li.plus a:before {
  content: '+';
  margin-left: -20px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.site-navigation li a, .site-navigation li a:visited {
  display: block;
  padding: 5px 0 5px 15px;
  margin-right: 50px;
  border-bottom: 1px dotted transparent;
  color: rgba(255,255,255,.6);
  text-decoration: none;
}

.site-navigation li a:hover, .site-navigation li a:focus {
  color: rgb(255,255,255);
  border-bottom-color: rgb(255,255,255);
}

.site-navigation .social-nav {
  float: right;
  padding-top: 20px;
}

.site-navigation .social-nav a {
  display: block;
  margin-bottom: 10px;
}


/* =Footer
--------------------------------------------------------------------------------------- */

footer {
  text-transform: uppercase;
  font-size: .8em;
  color: #867f77;
  padding: 10px;
  text-align: center;
}


/* =Home page
--------------------------------------------------------------------------------------- */

.home-page .wrapper {
  padding: 0;
  max-width: 100%;
}

.home-page header {
  margin: 0;
}
.home-page h1 {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 116px;
  height: 64px;
  background: url(../img/logo-white.svg) no-repeat 0 0;
  text-indent: -9999px;
  opacity: .8;
  background-size: contain;
}

.home-page .site-navigation {
  right: 20px;
  top: 20px;
}


/* =News page
--------------------------------------------------------------------------------------- */
.news-page section {
  border-bottom: 1px solid #bdbebd;
}

.news-summary h3 {
  margin: 10px 0;
}

.news-summary .date {
  text-transform: uppercase;
}


/* =Media queries
--------------------------------------------------------------------------------------- */

@media (min-width: 768px) {

  blockquote {
    margin: 20px 0 0;
  }

  blockquote:before {
    margin: 20px 20px 20px 10px;
  }

  .wrapper {
    padding: 0 20px;
  }

  section {
    padding: 20px 0;
  }

  section > h2 {
    margin-top: 0;
  }

  /* =Simple grid
  --------------------------------------------------------------------------------------- */
  .grid {
    margin-left: -20px;
    margin-right: -20px;
  }

  [class*='grid-'] {
    float: left;
    padding: 0 20px;
  }

  .grid-padded {
    padding: 20px 0;
  }

  .grid-2-3 {
    width: 66.66%;
  }

  .grid-1-3 {
    width: 33.33%;
  }

  /* css columns */
  .columns {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;ยง
            column-gap: 40px;
  }

  header {
    margin: 40px 0;
  }

  header h1 {
    width: 318px;
    height: 175px;
  }

  .home-page h1 {
    top: 70px;
    left: 70px;
    width: 463px;
    height: 256px;
  }

  .home-page .site-navigation {
    right: 70px;
    top: 70px;
  }
  
  .home-page .site-navigation .dialog {
    width: 400px;
  }

  .slides-navigation a, .mfp-arrow {
    right: 85px;
  }

  .slides-navigation .next, .mfp-arrow-left {
    top: 225px; }

  .slides-navigation .prev, .mfp-arrow-right {
    top: 170px; }

  .slide-tooltip-toggler {
    top: 280px;
    right: 85px;
  }

  .slide-tooltip {
    top: 270px;
    right: 75px;
    width: 400px;
  }

  .home-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
  }

  /* White frame around the screen on the frontpage */
  #top, #bottom, #left, #right {
    position: fixed;
    background: #fff;
    z-index: 1052;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 40px;
  }
  #left { left: 0; }
  #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 40px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }


  /* =News page
  --------------------------------------------------------------------------------------- */
  .news-summary h3 {
    font-size: 1.5em;
    margin: 20px 0;
  }

}

@media (min-width: 960px) {

  h2 {
    font-size: 2em;
    margin: 40px 0;
  }

  blockquote {
    margin: 80px 0 0;
    font-size: 2em;
  }

  blockquote:before {
    margin: 40px 40px 40px 20px;
  }

  header {
    margin: 80px 0 0;
  }

  .wrapper {
    padding: 0 40px;
  }

  section {
    padding: 80px 0;
  }

  .grid {
    margin-left: -40px;
    margin-right: -40px;
  }

  [class*='grid-'] {
    padding: 0 40px;
  }

  .grid-padded {
    padding: 40px 0;
  }

  /* css columns */
  .columns {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }

  .contact-social {
    padding: 20px 0;
  }

  .contact-social h2 {
    margin: 0;
  }

  .accordion dd {
    padding: 40px;
  }


  /* =News page
  --------------------------------------------------------------------------------------- */
  .news-summary h3 {
    font-size: 2em;
  }

}