* {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Helvetica Neue Light', 'Helvetica Neue', Verdana, sans-serif;
  font-weight: 300;
  color: #8e8a83;
}

h2 {
  text-transform: uppercase;
}

a, a:visited {
  color: #8e8a83;
  text-decoration: none;
}

blockquote {
  margin: 10px 0;
  text-transform: uppercase;
  border-top: 1px solid #bdbebd;
  border-bottom: 1px solid #bdbebd;
}

blockquote:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 10px 10px 10px 5px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 100%;
  background-color: #7c776c;
}

/* =Layout
--------------------------------------------------------------------------------------- */

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}


/* =Helper classes
--------------------------------------------------------------------------------------- */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.distinct {
  background-color: #f4f4f3;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-right {
  text-align: right;
}


/* =Buttons
--------------------------------------------------------------------------------------- */

.btn-circle {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  transition: background-color .15s ease-in;
}

.btn-circle.btn-large {
  width: 60px;
  height: 60px;
  line-height: 30px;
}

.btn-icon {
  text-indent: -9999px;
}

.btn-light, .btn-light:visited {
  background-color: rgba(255,255,255,.8);
  color: rgb(0,0,0);
}

.btn-dark, .btn-dark:visited {
  background-color: rgba(47,30,8,.8);
  color: rgb(255,255,255);
}

.btn-light:hover {
  background-color: rgb(255,255,255);
}

.btn-dark:hover {
  background-color: rgb(47,30,8);
}

/* Icons */

.icon-menu span, .icon-menu:before, .icon-menu:after {
  display: block;
  width: 50%;
  height: 4px;
  margin: 0 auto 5px;
}

.icon-menu:before {
  margin-top: 18px;
}

.icon-menu:before, .icon-menu:after {
  content: '';
}

.icon-prev:before, .icon-next:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-top: 8px;
  border-style: solid;
}

.icon-prev:before {
  margin-left: 7px;
  border-width: 7px 12px 7px 0;
}

.icon-next:before {
  margin-left: 10px;
  border-width: 7px 0 7px 12px;
}

.icon-circle:before {
  content: '';
  display: block;
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 100%;
}

.icon-close:after {
  content: '\d7';
  display: block;
  position: relative;
  top: -2px;
  line-height: 30px;
  text-indent: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}


/* Coloring */

.btn-light.btn-icon span, .btn-light.btn-icon:before, .btn-light.btn-icon:after {
  background-color: rgba(0,0,0,.8);
}

.btn-dark.btn-icon span, .btn-dark.btn-icon:before, .btn-dark.btn-icon:after {
  background-color: rgba(255,255,255,.8);
}

.btn-light.icon-prev:before {
  background-color: transparent;
  border-color: transparent rgba(0,0,0,.8) transparent transparent;
}

.btn-dark.icon-prev:before {
  background-color: transparent;
  border-color: transparent rgba(255,255,255,.8) transparent transparent;
}

.btn-light.icon-next:before {
  background-color: transparent;
  border-color: transparent transparent transparent rgba(0,0,0,.8);
}

.btn-dark.icon-next:before {
  background-color: transparent;
  border-color: transparent transparent transparent rgba(255,255,255,.8);
}

.btn-light.icon-close:after {
  background-color: transparent;
}

.btn-dark.icon-close:after {
  background-color: transparent;
}


/* =Dialogs
--------------------------------------------------------------------------------------- */
.dialog-toggler {
  z-index: 5;
}

.dialog {
  position: absolute;
  z-index: 4;
  opacity: 0;
  transition: opacity .15s ease-in;
}

.dialog-dark {
  color: #fff;
  background-color: rgba(47,30,8,.8);
}


/* =Slides
--------------------------------------------------------------------------------------- */

.slides {
  position: relative;
}

.slides .slides-container {
  display: none;
}

.slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 140px;
  right: 35px;
  width: 30px;
}

.slides-navigation a {
  margin-bottom: 20px;
}

.slide-tooltip-toggler {
  position: absolute;
  top: 250px;
  right: 35px;
}

.slide-tooltip {
  position: ūabsolute;
  top: 240px;
  right: 25px;
  width: 300px;
  padding: 30px 50px 30px 30px;
}


/* =Figures
--------------------------------------------------------------------------------------- */

figure {
  position: relative;
}

.figure-circle img {
  border-radius: 100%;
}

figure img {
  display: block;
  max-width: 100%;
}

.caption-bottom figcaption {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.caption-middle figcaption {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


/* =Simple grid
--------------------------------------------------------------------------------------- */
[class*='grid-'] {
  padding-bottom: 10px;
}


/* =Header
--------------------------------------------------------------------------------------- */

header {
  position: relative;
  z-index: 6;
}

header h1 {
  width: 80px;
  height: 44px;
  background: url(../img/logo-brown.svg) no-repeat 0 0;
  background-size: contain;
  text-indent: -9999px;
  opacity: .8;
}

header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}


/* =Main navigation
--------------------------------------------------------------------------------------- */

.site-navigation {
  position: absolute;
  right: 0;
  top: 0;
}

.site-navigation .dialog-toggler {
  position: relative;
}

.site-navigation .dialog {
  top: -10px;
  right: -10px;
  width: 300px;
  padding: 25px 25px 15px;
}

.site-navigation h5 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation li.plus a:before {
  content: '+';
  margin-left: -20px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.site-navigation li a, .site-navigation li a:visited {
  display: block;
  padding: 5px 0 5px 15px;
  margin-right: 50px;
  border-bottom: 1px dotted transparent;
  color: rgba(255,255,255,.6);
  text-decoration: none;
}

.site-navigation li a:hover, .site-navigation li a:focus {
  color: rgb(255,255,255);
  border-bottom-color: rgb(255,255,255);
}

.site-navigation .social-nav {
  float: right;
  padding-top: 20px;
}

.site-navigation .social-nav a {
  display: block;
  margin-bottom: 10px;
}


/* =Footer
--------------------------------------------------------------------------------------- */

footer {
  text-transform: uppercase;
  font-size: .8em;
  color: #867f77;
  padding: 10px;
  text-align: center;
}


/* =Home page
--------------------------------------------------------------------------------------- */

.home-page .wrapper {
  max-width: 100%;
}

.home-page h1 {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 116px;
  height: 64px;
  background: url(../img/logo-white.svg) no-repeat 0 0;
  text-indent: -9999px;
  opacity: .8;
  background-size: contain;
}

.home-page .site-navigation {
  right: 20px;
  top: 20px;
}

/* White frame around the screen on the frontpage */
#top, #bottom, #left, #right {
  background: #fff;
  position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
  left: 0; right: 0;
  height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }


/* =Media queries
--------------------------------------------------------------------------------------- */

@media (min-width: 768px) {

  blockquote {
    margin: 20px 0;
  }

  blockquote:before {
    margin: 20px 20px 20px 10px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* =Simple grid
  --------------------------------------------------------------------------------------- */
  .grid {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 0;
  }

  [class*='grid-'] {
    float: left;
    padding: 20px;
  }

  .grid-2-3 {
    width: 66.66%;
  }

  .grid-1-3 {
    width: 33.33%;
  }

  /* css columns */
  .columns {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  header {
    margin: 20px 0;
  }

  .home-page header {
    margin: 0;
  }

  header h1 {
    width: 318px;
    height: 175px;
  }

  .home-page h1 {
    width: 463px;
    height: 256px;
  }

}

@media (min-width: 960px) {

  h2 {
    font-size: 2em;
    margin: 40px 0;
  }

  blockquote {
    margin: 80px 0;
    font-size: 2em;
  }

  blockquote:before {
    margin: 40px 40px 40px 20px;
  }

  header {
    margin: 80px 0;
  }

  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .grid {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px 0;
  }

  [class*='grid-'] {
    padding: 40px;
  }

  /* css columns */
  .columns {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }


}